---
layout: default
title: DAT/Artathon 2021 - Call for applications
image: assets/images/2021flyer.png

---

<style>
    a {
        text-decoration: underline;
    }

    a:hover {
        color: #000;
    }
</style>

<div class="row">
    <div class="col-md-8 pt-4 ">
        <p style="font-size: 1.8rem; font-weight:700; line-height: 1.5; padding-right:70px" class="pb-4">We are pleased
            to announce that applications for the second cohort
            of the Risk and
            Resilience DAT/Artathon are now open.
        </p>



    </div>
</div>

<div class="row">


    <div class="col-md-12 ">
        <!-- <h2 style="font-size: 1.6rem; ">Applications for 2021 are now open </h2> -->

        <div class=" float-left entry-featured-image custom-shadow custom-indent"  style="border-radius: 6px; margin:0; margin-bottom: 20px;  ">
            {% if site.lazyimages == "enabled" %}
            <img style="border-radius: 6px;"
                class="featured-image img-float lazyimg {% if page.imageshadow %} image-shadow {% endif %}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                data-src="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image
                }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img style="border-radius: 6px;" class="featured-image img-float {% if page.imageshadow %} image-shadow {% endif %}"
                src="{{site.baseurl}}/assets/images/2021flyer.png" alt="{{ page.title }}">
            {% endif %}
        </div>

    </div>
    <div class="col-md-4 p-0">
    </div>


</div>

<div class="row">
    <div class="col-md-8 pt-4 ">

        <p class="custom-p">
            DAT/Artathon is a free, four-week virtual workshop that seeks to bring together early career* professionals
            working to visualize and tell stories from risk and resilience data.

        </p>


        <p class="custom-p"> Our last cohort was truly global, and saw the coming together of 12 fellows from 6
            different countries (<a href="/fellows">view bios here</a>). The ideas they explored were equally diverse,
            ranging from visualizing changes in Himalayan
            glacial
            cover over the last 15 years (<a href="/projects/2020-hannah-himalayan-glacier-cover">here</a>), to
            demystifying Covid-19 fund appropriations for at risk children in
            the US
            (<a href="/projects/2020-jackie-cares">here</a>).</p>


        <p class="custom-p"> We are very excited to recruit the next cohort of DAT/Artathon Fellows for 2021!


        </p>

        <p class="custom-p">Interested? Apply now using the button below. <b>The deadline for submission is 1 June 2021,
                11:59PM PDT.
            </b>
        </p>

        <a href="https://forms.gle/gTfeYxC2z9CPRsgD6"><input type="button" value="Apply Now" name="Apply Now"
                class=" black-button "></input></a>
        <br />
        <br />
        <p class="custom-p" style=" font-size: 1rem; ">
            *While we encourage all to apply, in case of applicants with matching qualifications, preference will be
            given to those applicants who are within 5 years of their last degree.
        </p>




        <h3 class="custom-header">What you'll do</h3>

        <p class="custom-p">
            You will be contributing to six virtual, 2-hour sessions spanning over a period of 4 weeks. In the first
            three sessions, you will be sharing your skills with the cohort. Following this, you will then be working on
            your individual projects, whilst also providing and receiving feedback around you and your peers' work.
        </p>


        <h3 class="custom-header">What you'll need</h3>

        <ul style="font-size: 1.3rem; font-weight: 300;">
            <li>a <b>dataset</b> that you plan to work with during the DAT/Artathon</li>
            <li>a <b>skillset</b> to share with fellow DAT/Artists</li>
            <li>required <b>software and/or materials</b> for working on your project</li>
            <li>an open-minded attitude</li>
        </ul>




        <h3 class="custom-header">What our fellow dat/artists say</h3>

        <div>

            <blockquote>
                <div class="py-4">
                    <p class="custom-p">I felt intimidated at first because I have so little experience with data
                        science and data visualization, but a lot of experience with the end user side. The group
                        encouraged me to try things I might not have tried on my own and introduced me to a wide range
                        of people, experiences, and possibilities in the data world. I loved the peer-taught sessions,
                        sketchnoting is a skill I use regularly now!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/jackie.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <span> Jackie Ratner</span>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <p class="custom-p">For a long time, I had back-pocket ideas for data visuals that I had never
                        gotten around to creating. Being able to share and refine those ideas with our cohort motivated
                        me to follow-through on them. I now have a draw-full of visualisation ideas and a community to
                        workshop them with!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/hannah.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <span> Hannah Melville-Rea</span>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <p class="custom-p">Connecting with a group of really passionate people with a variety of different
                        backgrounds created a really unique and optimal environment for learning new skills and new ways
                        of thinking about communicating technical work. Having such a supportive and inquisitive
                        community really inspired and motivated me to create a project I was proud of and I cannot
                        recommend this experience enough!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/haley.png" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <span> Haley Sims</span>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div>
            </blockquote>
        </div>

        <h3 class="custom-header">What’s different this year?</h3>
        <p class="custom-p">
            Due to overwhelming feedback from our first cohort, we decided to add one more week devoted to working on
            individual projects. So this year, the duration of the DAT/Artathon will be four weeks instead of three (a
            total of 6 sessions instead of 5).
        </p>

        <p class="custom-p">You will also get the chance to interact with last year’s fellows after these four weeks are
            over.</p>



    </div>
</div>



<br />
<br />
<br />