---
layout: default_no_banner
title: 2024 DAT/Artathon Workshop - Applications are now open
image: assets/images/2023flyer.png

---

<style>
    a {
        text-decoration: underline;
    }

    a:hover {
        color: #000;
    }
</style>

<div class="row">
    <div class="col-md-12 pt-4 ">
        <p style="font-size: 2rem; font-weight:700; line-height: 1.5; padding-right:70px" class="pb-4">
            2024 DAT/Artathon Workshop—Applications are now open
        </p>



    </div>
</div>

<div class="row">


    <div class="col-md-12 ">
        <div class=" float-left entry-featured-image custom-shadow custom-indent"  style="border-radius: 6px; margin:0; margin-bottom: 20px;  ">
            {% if site.lazyimages == "enabled" %}
            <img style="border-radius: 6px;"
                class="featured-image img-float lazyimg {% if page.imageshadow %} image-shadow {% endif %}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                data-src="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image
                }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img style="border-radius: 6px;" class="featured-image img-float {% if page.imageshadow %} image-shadow {% endif %}"
                src="{{site.baseurl}}/assets/images/2024flyer.png" alt="{{ page.title }}">
            {% endif %}
        </div>

    </div>
    <div class="col-md-4 p-0">
    </div>


</div>

<div class="row">
    <div class="col-md-10 pt-4 ">
        <p class="custom-p">
            We are pleased to announce that applications for the Risk and Resilience DAT/Artathon Workshop are now open. 
        </p>

        <p class="custom-p">
            DAT/Artathon is a free, three-week virtual workshop that brings together individuals working to visualize and tell stories from risk and resilience data. 
            The workshop will take place over six two-hour sessions from June 3 to June 20, 2024. 
            Sessions will take place from 4-6pm US Pacific Time (5-7pm Mountain Time; 7-9pm Eastern Time). 

        </p>


        <p class="custom-p"> 
            Join our global, diverse, and supportive community of risk and resilience data visualizers! 
            Check out past projects (<a href="/gallery">here</a>). 
        </p>
        
         <a href="https://forms.gle/umLVDVhKnXX7oAVx6"><input type="button" value="Apply Now" name="Apply Now"
                class=" black-button "></input></a> 
        <br />
        <!-- <br />
        <p class="custom-p" style=" font-size: 1rem; ">
            *While we encourage all to apply, in case of applicants with matching qualifications, preference will be
            given to those applicants who are within 5 years of their last degree.
        </p> -->

        <h3 class="custom-header">What you'll do</h3>

        <p class="custom-p">
            You will be contributing to six virtual, two-hour sessions spanning over a period of three weeks. In the first
            three sessions, you will be sharing your skills with the cohort. Following this, you will then be working on
            your individual projects, whilst also providing and receiving feedback around you and your cohort's work.
        </p>


        <h3 class="custom-header">What you'll need</h3>

        <ul style="font-size: 1.1rem; font-weight: 300;">
            <li>a <b>dataset</b> that you plan to work with during the DAT/Artathon</li>
            <li>a <b>skillset</b> to share with fellow DAT/Artists</li>
            <li>required <b>software and/or materials</b> for working on your project</li>
            <li>an open-minded attitude</li>
        </ul>

        <h3 class="custom-header">Can't make this time slot?</h3>

        <p class="custom-p">
            We alternate between U.S. mornings and evenings every other year so that we can accommodate time zones across the globe. 
            Please check back next year if this time is outside of your normal <b>waking</b> hours! We appreciate our Fellows' willingness to participate outside of normal <b>working</b> hours in order to build this global community! 
        </p>

        <h3 class="custom-header">What do our fellows say? </h3>

        <div>
            <blockquote>
                <div class="py-4">
                    <p class="custom-p">
                        When I read about DATArtathon, I was completely sold on the idea of interacting with people who are passionate about risk, disasters, and data visualization. 
                        Let me tell you, it exceeded my expectations. During the DATArtathon, I learned several strategies to make data more inclusive and informative. At the same time, it was gratifying to know that this is more than a workshop. 
                        I still keep in touch with multiple people from the team, and we also created a book club to start discussions about the intersection of disaster policy, data visualization, and science writing. 
                        I am excited to see this community grow so people can better understand all the pressing needs of this world with the power of data.</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/jorge.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <a href="http://datartathon.com/fellows/jorge">Jorge Mario Lozano</a>
                            <br />
                            <span> D/A 2021 Fellow</span>

                        </div>
                    </div>
                </div>
                <div class="py-4">
                    <p class="custom-p">DATArtathon is a one-of-a-kind interdisciplinary community passionate about risk communication and visualization! 
                        It attracts an amazing group of people who assist in refining and advancing each other’s projects. 
                        It is important to note that the community lasts much longer than just the extend of the event. 
                        I've met an amazing group people who continue to support myself and my current projects, such as creating a DAT/Artathon inspired book club!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/kelley.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <a href="http://datartathon.com/fellows/kelley">Kelley De Polt</a>
                            <br />
                            <span> D/A 2021 Fellow</span>

                        </div>
                    </div>
                </div>
                <!-- <div class="py-4">
                    <p class="custom-p">I felt intimidated at first because I have so little experience with data
                        science and data visualization, but a lot of experience with the end user side. The group
                        encouraged me to try things I might not have tried on my own and introduced me to a wide range
                        of people, experiences, and possibilities in the data world. I loved the peer-taught sessions,
                        sketchnoting is a skill I use regularly now!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/jackie.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <span> Jackie Ratner</span>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div> -->

                <div class="py-4">
                    <p class="custom-p">For a long time, I had back-pocket ideas for data visuals that I had never
                        gotten around to creating. Being able to share and refine those ideas with our cohort motivated
                        me to follow-through on them. I now have a draw-full of visualisation ideas and a community to
                        workshop them with!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/hannah.jpg" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <a href="http://datartathon.com/fellows/hannah">Hannah Melville-Rea</a>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div>

                <div class="py-4">
                    <p class="custom-p">Connecting with a group of really passionate people with a variety of different
                        backgrounds created a really unique and optimal environment for learning new skills and new ways
                        of thinking about communicating technical work. Having such a supportive and inquisitive
                        community really inspired and motivated me to create a project I was proud of and I cannot
                        recommend this experience enough!</p>
                    <div class="d-flex align-items-center   ">

                        <img src="/assets/images/datartathon/haley.png" alt="Avatar" class="custom-avatar">
                        <div style="margin-left: 10px; font-size:1rem">
                            <a href="http://datartathon.com/fellows/haley">Haley Sims</a>
                            <br />
                            <span> D/A 2020 Fellow</span>

                        </div>
                    </div>
                </div>
            </blockquote>
        </div>
        <br>


        <p class="custom-p"> For any questions, please reach out to Yolanda Lin, lead organizer at <a href="mailto:hello@datartathon.com">hello@datartathon.com</a></p>

        <h3 class="custom-header">Don't miss out</h3>

        <p class="custom-p">Interested? Apply now using the button below. 
            <b>The application deadline is April 15, 2024, 11:59pm Pacific Time.
        </b>
        <br>

        <a href="https://forms.gle/Y6msQy4tAs2YYWgcA"><input type="button" value="Apply Now" name="Apply Now"
            class=" black-button "></input></a> 
    </p>

        <h3 class="custom-header">Questions, comments, or feedback?</h3>
        <p class="custom-p">
            Contact <a href="/about">us</a> at <a href="mailto:hello@datartathon.com">hello@datartathon.com</a>. We'd love to hear from you!
        </p>



    </div>
</div>



<br />
<br />
<br />
