---
layout: default_no_banner
title: Workshop with EERI on "Honing your dataviz skills for earthquake engineering"
image: assets/images/eeriflyer.png
---

<style>
    a {
    text-decoration: underline;
    }
    a:hover {
    color: #000;
    }
 </style>
 <div class="row">
    <div class="col-md-8 pt-4 ">
       <p style="font-size: 1.8rem; font-weight:700; line-height: 1.5; padding-right:70px" class="pb-4">
          Workshop with EERI on "Honing your dataviz skills for earthquake engineering"
       </p>
       <p class="custom-p">
          Sick of your default graphics settings, but don’t know how to make your figures pop? Join us for this workshop on data visualization for earthquake engineers! 
       </p>
       <p class="custom-p">
          Over 1.5 hours, you'll learn how to build engaging and interpretable visualizations, no matter what software you use. 
           The workshop will be accessible to visualization beginners, while also providing a useful review for intermediate and advanced visualizers. 
       </p>
        <p class="custom-p">
          No materials necessary to participate. The first half of the workshop will be devoted to a presentation on fundamental concepts to frame your visualizations.
            In the second half, you will get to practice with other participants these concepts using real earthquake engineering visualizations.
       </p>
        <p style="font-size: 1.5rem; font-weight:500; line-height: 1; padding-right:70px" class="pb-4">
          Friday, November 5, 9-10:30am PT
       </p>
       <a href="https://forms.gle/kWrhENXXbyPsYyZZ6"><input type="button" value="Register here" name="Apply Now"
          class=" black-button "></input></a>
       <div class="row">
          <!-- IGNORE CODE BELOW, THIS IS JUST TO MAKE SURE IMAGES ARE DISPLAYED -->
          <div class="col-md-12 ">
             <div class=" float-left entry-featured-image custom-shadow custom-indent"  style="border-radius: 6px; margin:0; margin-bottom: 20px;  ">
                {% if site.lazyimages == "enabled" %}
                <img style="border-radius: 6px;"
                class="featured-image img-float lazyimg {% if page.imageshadow %} image-shadow {% endif %}"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
                data-src="{% if page.image contains " ://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image
                }}{% endif %}" alt="{{ page.title }}">
                {% else %}
                <img style="border-radius: 6px;" class="featured-image img-float {% if page.imageshadow %} image-shadow {% endif %}"
                   src="{{site.baseurl}}/assets/images/2021flyer.png" alt="{{ page.title }}">
                {% endif %}
             </div>
          </div>
          <div class="col-md-4 p-0">
          </div>
       </div>
    </div>
 </div>
