---
layout: default
title: DAT/Artathon Fellows
image: assets/images/datartathon/fellows_og.png
---

<h1>Learn more about the DAT/Artathon Fellows </h1>

{% assign fellows2021 = site.fellows | where:'year', "2022" | sort: 'title' %}
<br>
<h2>2022 Fellows</h2>

<div class="row no-gutters">
    {% for fellow in fellows2022 %}
    {% include fellow-grid.html %}
    {% endfor %}
</div>

{% assign fellows2021 = site.fellows | where:'year', "2021" | sort: 'title' %}
<br>
<h2>2021 Fellows</h2>

<div class="row no-gutters">
    {% for fellow in fellows2021 %}
    {% include fellow-grid.html %}
    {% endfor %}
</div>

<br>
<h2>2020 Fellows</h2>

{% assign fellows2020 = site.fellows | where:'year', "2020" | sort: 'title' %}

<div class="row no-gutters">
    {% for fellow in fellows2020 %}
    {% include fellow-grid.html %}
    {% endfor %}
</div>

<br />
<br />
<br />
