---
layout: default
title: Home
image: assets/images/datartathon/datartathon_og.png
---

<div class="row">
<div class="col-md-7">
    <h1 style="font-size: 2.5rem; ">A new collaborative <br/> community </h1>
    <br/>
    <p style="font-size: 1.8rem; font-weight:300 ">DAT/Artathon is a <b style="font-weight: 700;">free virtual workshop</b> for early career individuals who work on data visualization using disaster risk and resilience data.</p>
    <br/>
    <a href="about.html"><input type="button" value="Learn more ➨" name="Learn more"  class=" custom-button "></input></a>
    <br/>
    <br/>
    <p style="font-size: 1.8rem; font-weight:300 ">Interested in being in our next cohort?</p>
    <a href="https://datartathon.com/2022/"><input type="button" value="Apply now for the 2022 DAT/Artathon ➨" name="Apply now"  class=" custom-button "></input></a>
    
</div>
    <div class="col-md-4 p-0">
            </div>

</div>   

<br/>
<br/>
<br/>
{% include dat-artists.html %}


<br/>
<br/>
<br/>
<h1 style="font-size: 1.5rem; max-width: 600px;" class="custom-header"><a class=""  href="/gallery">Gallery</a></h1>
<div class="blog-grid-container">
    {% assign counter = 0 %}
    {% for post in site.projects reversed %}
        {% if counter < 3 %}
            {% include postbox.html %}
            {% assign counter = counter | plus: 1 %}
        {% endif %}
    {% endfor %}
</div>

<br/>
<br/>
<br/>
<h1 style="font-size: 1.5rem; max-width: 600px;" class="custom-header"><a class=""  href="/blog">Read our blog</a></h1>
<div class="blog-grid-container">
    {% assign counter = 0 %}
    {% for post in site.blogs reversed %}
        {% if counter < 3 %}
            {% include postbox.html %}
            {% assign counter = counter | plus: 1 %}
        {% endif %}
    {% endfor %}
</div>


