<div class="row align-items-end">
    <div class="col-12 card h-100  custom-border custom-bg round-border custom-shadow">
        <div class="row">
       
            <div class="col-md-5" style="margin-left: -15px">
                <img class="img-fluid" src="/assets/images/2021_cohort.png">
            </div>

            <div class="col-md-5 p-4" style="">
                <h2>Meet our DAT/Artathon Fellows</h2>
                <br/>
                <p style="font-size:1.5rem">Meet our Risk and Resilience DAT/Artists, representing 8 countries and 10 time zones.</p>
                
                <br/>
                <br/>
                <br/>
                <a href="fellows"><input type="button" value="View bios ➨" name="View bios"  class="custom-button"></input></a>
            </div>


        </div>
    </div>
 
</div>