<div class="row align-items-end">
    <div class="col-12 card h-100">
        <div class="row">
       
            <div class="col-md-7" style="margin-left: -15px">
                <img class="img-fluid" src="/assets/images/datartathon/group.png">
            </div>

            <div class="col-md-5 p-4" style="margin-left: -15px">
                <h1>Meet our DAT/Artathon Fellows</h1>
                <br/>
                <p style="font-size:1.5rem">Meet our inaugural 2020 Risk and Resilience DAT/Artists, representing 6 countries and 8 time zones.</p>
                
                <br/>
                <br/>
                <br/>
                <br/>
                <a href="fellows"><input type="button" value="View bios ➨" name="View bios"  class="heart"></input></a>
            </div>


        </div>
    </div>
 
</div>