<div class="article-post">

    <div class="row ">
        
        <div class="col-md-12 " style="font-size: 1.2rem; font-weight: 300;"> 
            <img style="float: right;margin-left: 25px; margin-bottom: 15px; margin-top: 40px; width: 250px" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            <p style="text-align: justify; 
            font-size: 25px; ">
            {{content}}
        </p>
        </div>
        <div class="col-md-5 mt-4">
        </div>
        
    
    
</div>
</div>