---
title: "Categories"
layout: default
permalink: "/categories.html"
---

{% assign unique_cats = "" | split: ',' %}
{% for blog in site.blogs %}

    {% for cat in blog.categories %}
        {% unless unique_cats contains cat %}
            {% assign unique_cats = unique_cats | push: cat %}
        {% endunless %}
    {% endfor %}
{% endfor %}

{% for cat in unique_cats %}

    <h1 id={{cat}}>{{cat}}</h1>
    <div class="blog-grid-container">
    {% for post in site.blogs reversed %}
        {% unless post.categories contains cat %}
            
            {% include postbox.html %}
            {% endunless %}
            {% endfor %}
        </div>
            
{% endfor %}


