---
title: "Tags"
layout: default
permalink: "/tags.html"
---

{% assign unique_tags = "" | split: ',' %}
{% for blog in site.blogs %}

    {% for tag in blog.tags %}
        {% unless unique_tags contains tag %}
            {% assign unique_tags = unique_tags | push: tag %}
        {% endunless %}
    {% endfor %}
{% endfor %}

{% for tag in unique_tags %}

    <h1 id={{tag}}>{{tag}}</h1>
    <div class="blog-grid-container">
    {% for post in site.blogs reversed %}
        {% unless post.tags contains tag %}
            
            {% include postbox.html %}
            {% endunless %}
            {% endfor %}
        </div>
            
{% endfor %}